<div class="content">
<h1>Session lost</h1>
<p>
The Camel application has lost its login session. Your browser may be preventing
Camel from setting its session cookie when it is embedded as a panel inside of OnShape.
</p>
<h2>Next steps</h2>
<ul>
    <li><a href="{{actionUri}}">Try to login again</a></li>
    <li><a href="{{actionUri}}" target="_blank">Open Camel in a new tab</a></li>
</ul>
</div>
