<div class="tab-bar">
    <span class="tab-name">{{fileName}}</span>
    <button type="button" class="back-button" onClick="history.back()" />
    <button type="button" class="refresh-button" onClick="window.location.reload()" />
</div>

<pre>
{{contents}}
</pre>
