<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Camel: Basic CAM features for OnShape</title>
</head>
<body>
{{{body}}}
<footer>
    <a href="https://github.com/j9brown/camel" target="_blank">Camel project homepage</a>
</footer>
<script src="/js/navigation.js"></script>
</body>
</html>